<div class="item inactive">
  <div class="item-header">
    <h4 class="item-date"></h4>
    <i class="fa fa-times item-close"></i>
  </div>
  <div class="item-wrapper">
    <h1 class="item-title"></h1>
    <div class="item-body"></div>
  </div>
</div>