.page-item {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;

  .item {
    width: 100%;
    position: absolute;
    background-color: #EEE;
    opacity: 1;
    // -webkit-transform: translate3d(0,0,0);
    // -moz-transform: translate3d(0,0,0);
    // transform: translate3d(0,0,0);

    &.inactive {
      opacity: 0;
      // -webkit-transform: translate3d(0,-25%,0);
      // -moz-transform: translate3d(0,-25%,0);
      // transform: translate3d(0,-25%,0);
    }

    &.animate {
      -webkit-transition: -webkit-transform @animation, opacity @animation;
      -moz-transition: -moz-transform @animation, opacity @animation;
      transition: transform @animation, opacity @animation;
    }

    .item-header {
      padding-left: 30px;
      padding-right: 10px;
      // padding-top: 0px;
      display: table;
      margin: auto;
      max-width: 900px;
      width: 100%;

      .item-date {
        float: left;
      }

      .item-close {
        padding: 20px;
        font-size: 18px;
        cursor: pointer;
        float: right;
        z-index: 1;
        position: relative;
      }
    }

    .item-wrapper {
      padding: 30px;
      padding-top: 0px;
      text-align: left;
      display: table;
      margin: auto;
      max-width: 960px;

      .item-title {
        margin-top: 0;
        margin-bottom: 22px;
      }

      .item-body {
        img {
          max-width: 100%;
        }
      }
    }
  }
}
