<div class="feed">
  <a class="feed-item">
    <div class="feed-item-wrapper">
      <div class="feed-item-bg-color"></div>
      <div class="feed-item-bg-media"></div>
      <div class="feed-item-bg-hover"></div>
      <div class="feed-item-preview">
        <div class="date"></div>
        <h1></h1>
        <p></p>
        <div class="disclosure"><i class="fa fa-info"></i> View Project</div>
      </div>
    </div>
  </a>
</div>
