.page-feed {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;

  &.hidescroll {
    z-index: -1;
  }

  .feed {
    width: 0;
    margin: auto;
    display: table;
    table-layout: fixed;
    transition: opacity @animation;
    opacity: 0;

    .feed-item {
      display: table-cell;
      position: relative;
      text-align: left;
      color: rgba(255,255,255,0.7);
      overflow: hidden;
      width: 260px;
      @media screen and (min-width: 640px) {
        width: 320px;
      }

      -webkit-transition: -webkit-transform @animation, opacity @animation;
      -moz-transition: -moz-transform @animation, opacity @animation;
      transition: transform @animation, opacity @animation;

      .feed-item-wrapper {
        padding: 30px;
        
        .feed-item-bg-color,
        .feed-item-bg-media,
        .feed-item-bg-hover {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center center;
        }

        .feed-item-bg-media {
          opacity: 0.5;
        }

        .feed-item-bg-hover {
          transition: background-color @animation / 2;
        }
        &:hover {
          .feed-item-bg-hover {
            background-color: rgba(0,0,0,0.4);
          }
          .disclosure {
            color: rgba(255,255,255,1);
          }
        }

        .feed-item-preview {
          position: relative;
          height: 100%;

          .disclosure {
            display: none;
            position: absolute;
            bottom: 0;
          }

          @media screen and (min-width: 640px) {
            .disclosure {
              display: block;
            }
          }
        }

        h1 {
          color: #FFF;
        }

        img {
          display: none;
        }
      }
    }
  }
}
