.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .bg-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    opacity: 0.25;
    position: absolute;
    top: 0;

    &.animate {
      transition: opacity @animation;
    }
  }
}

.pages {
  position: relative;

  .page {
    width: 100%;
    position: absolute;
    display: inline-block;
    padding-left: 40;
    padding-bottom: 40;
    left: 0;

    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;

    &.inactive {
      opacity: 0;

      &.out {
        -webkit-transform: translate3d(0,7px,0);
        -moz-transform: translate3d(0,7px,0);
        transform: translate3d(0,7px,0);
      }
    }

    &.animate {
      -webkit-transition: -webkit-transform @animation, opacity @animation;
      -moz-transition: -moz-transform @animation, opacity @animation;
      transition: transform @animation, opacity @animation;
    }

    .page-body {
      padding-left: 30px;
      padding-right: 30px;
      max-width: 960px;
      display: table;
      margin: auto;
      text-align: left;

      &:not(:empty) {
        padding-bottom: 30px;
      }
    }
  }
}
