.site-nav {
  overflow: auto;
  display: block;
  position: relative;
  line-height: 1em;

  @media screen and (min-width: 640px) {
    display: table;
  }

  a {
    padding: 15px;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 0px;
    padding-top: 7px;
    padding-bottom: 25px;
    font-weight: lighter;

    h1, h2, h3, h4, h5 {
      margin-top: 2px;
      margin-bottom: 0px;
    }

    @media screen and (min-width: 640px) {
      display: table-cell;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    &:first-of-type {
      display: table;
      margin-left: auto;
      margin-right: auto;
      white-space: nowrap;
      padding-top: 25px;
      padding-bottom: 7px;
      @media screen and (min-width: 640px) {
        white-space: normal;
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

    &:last-of-type {
      @media screen and (min-width: 640px) {
        padding-right: 30px;
      }
    }

    &:after {
      content: "";
      display: block;
      height: 1px;
      margin-top: 1px;
      opacity: 0;
      background-color: #555;
      transition: opacity @animation;
    }

    &.active {
      &:after {
        opacity: 1;
      }
    }

    &.spacer {
      width: 100%;
      display: none;
      @media screen and (min-width: 640px) {
        display: table-cell;
      }
    }

    img {
      vertical-align: middle;
      max-height: 15px;
      @media screen and (min-width: 640px) {
        max-height: 20px;
      }
    }
  }
}
